/* Portrait and Landscape */
@media only screen and (max-width: 800px) and (orientation : portrait) {
  /*#top { display: none; }*/
  #side-nav { display: none; }
  #nav-path { display: none; }
  body { overflow:visible; }
  h1, h2, h3, h4, h5, h6 { page-break-after: avoid; }
  .summary { display: none; }
  .memitem { page-break-inside: avoid; }
  #doc-content
  {
    margin-left:0 !important;
    height:auto !important;
    width:auto !important;
    overflow:inherit;
    display:inline;
  }
  #MSearchResultsWindow {
      display: none;
      position: initial;
      left: 0; top: 0;
      border: 1px solid #000;
      /*background-color: #EEF1F7;*/
      z-index:10000;
  }
}

@media only screen and (max-width: 980px) and (orientation : landscape) {
  /*#top { display: none; }*/
  #side-nav { display: none; }
  #nav-path { display: none; }
  body { overflow:visible; }
  h1, h2, h3, h4, h5, h6 { page-break-after: avoid; }
  .summary { display: none; }
  .memitem { page-break-inside: avoid; }
  #doc-content
  {
    margin-left:0 !important;
    height:auto !important;
    width:auto !important;
    overflow:inherit;
    display:inline;
  }
  #MSearchResultsWindow {
      display: none;
      position: initial;
      left: 0; top: 0;
      border: 1px solid #000;
      /*background-color: #EEF1F7;*/
      z-index:10000;
  }
}
